.header{
  display: flex;
  align-items: center;
}
.list-1{
  display: flex;
  list-style: none;
  gap: 20px;
}
.header-inner{
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 50px;
}
.site-header{
  background-color: #F9F8F8;
}
.header-2{
  display: flex;
}
.list-2{
  display: flex;
  align-items: center;
  gap: 54px;
  list-style: none;
  padding-left: 90px;
}
.list-2 a{
  text-decoration: none;
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #333333;
}
.href{
  padding-left: 100px;
}

